<p id="notice"><%= notice %></p>

<h1>Outreaches</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @outreaches.each do |outreach| %>
      <tr>
        <td><%= outreach.name %></td>
        <td><%= outreach.message_id %></td>
        <td><%= link_to 'Show', outreach %></td>
        <td><%= link_to 'Edit', edit_outreach_path(outreach) %></td>
        <td><%= link_to 'Destroy', outreach, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Outreach', new_outreach_path %>

